ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
p,
form {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

img {
    border: none;
}

#contenedor {
    width: 90%;
    max-width: 900px;
    width: "900px auto";
    margin: 0 auto;
}

#cabecera,
#menu,
#lateral,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
    /* LO COMENTO PARA ELIMINARLO
    border: 2px solid #777;
    */
}

#cabecera {
    clear: both;
}

#menu {
    clear: both;
}

#lateral {
    float: left;
    width: 20%;
}

#contenido {
    float: right;
    width: 78%;
}

#contenido #principal {
    float: left;
    width: 78%;
}

#contenido #secundario {
    float: right;
    width: 20%;
}

#pie {
    clear: both;
}

#cabecera #logo {
    float: left;
}

#cabecera #buscador {
    float: right;
}

#menu ul#menu_principal li {
    display: inline;
    float: left;
}

#contenido #principal .articulo img {
    width: 100px;
    float: left;
}

#pie .enlaces {
    float: left;
}

#pie .copyright {
    float: right;
}

#cabecera,
#menu,
#lateral,
#lateral #noticias,
#lateral #publicidad,
#contenido,
#contenido #principal,
#contenido #secundario,
#pie {
    padding: .5em;
    /*
    border: 2px solid #777;
    */
}

#lateral {
    padding: 0;
}

#cabecera {
    padding: 1em;
}

#noticias {
    border: 1px solid #C5C5C5;
}

#menu {
    margin-bottom: .5em;
    border-bottom: solid 1px #004C99;
}

#contenido {
    width: 77%;
    padding: 0;
}

#contenido #principal {
    width: 73%;
}

#contenido #secundario {
    border: 1px solid#CC6600;
}

#pie {
    padding: .5em 0;
    margin-top: 1em;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
}

#contenido #principal .articulo {
    margin-bottom: 1em;
}

#contenido #principal .articulo img {
    margin: .5em;
}

#publicidad {
    margin-top: 1em;
    border-style: solid 1px dashed #CC6600;
}

#publicidad {
    border: 1px solid#CC6600;
    border-style: dashed dotted;
}

#lateral #publicidad {
    margin-top: 1em;
}