body {
    background: rgb(226, 233, 126);
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: purple;
    background: rgb(216, 213, 81);
}

h2 {
    font-style: italic;
    font-size: 25px;
    background: rgb(221, 204, 106);
}

img {
    padding-right: 1em;
    padding-left: 1em;
}

.img1 {
    float: left;
}

.img2 {
    float: right;
}

.img3 {
    float: right;
}

.img4 {
    float: left;
}

.img5 {
    float: right;
}

.parrafo {
    display: inline-block;
}

hr {
    height: 5px;
    width: 500px;
    background: purple;
}