body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #660000;
    background: #fdd5d5;
}

#cabecera {
    width: 900px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    background-image: url(img01.gif);
    background-repeat: repeat-x;
    padding: 5px 0px 0px 0px;
}

#menu {
    margin-left: 400px;
    margin-top: -50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

#menu li {
    display: inline-block;
    color: #fff;
    padding-left: 10px;
}

#cuerpo {
    position: relative;
    float: right;
}

#menu li {
    display: inline-block;
    color: #fff;
    padding-left: 10px;
}

#contenido {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30;
    padding-bottom: 30;
}

.title:first-of-type {
    border-bottom: 1px solid black;
}

h2 {
    font-size: 23px;
}

p {
    padding: 5px;
}

#cuerpo {
    width: 570px;
    float: right;
}

#cuerpo a {
    font-size: 15px;
    color: #660000;
}

#izquierda {
    background: white;
    border: solid 1px #a32626;
    width: 300px;
    float: left;
}

#izquierda a {
    color: #660000;
}

#pie {
    clear: both;
    width: 900px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-image: url(img06.gif);
    color: white;
    text-align: center;
}