body {
    background: pink;
}

.contenido {
    border: 5px solid black;
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.amarillo {
    background: yellow;
    width: 200px;
    height: 100px;
    float: left;
}

.rojo {
    background: red;
    width: 600px;
    height: 100px;
    float: right;
}

.azul {
    background: blue;
    width: 500px;
    height: 350px;
    float: left;
}

.verde {
    background: mediumspringgreen;
    width: 300px;
    height: 350px;
    float: right;
}

.gris {
    background: grey;
    width: 800px;
    height: 50px;
    clear: right;
}