body {
    background-color: lightgrey;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
    padding: 10px;
}

.caja1 {
    background-color: #DBC9A6;
    border: #9B8F76 2px solid;
    padding: 10px;
    text-align: center;
    position: absolute;
    height: 8%;
    left: 10%;
    top: 9%;
    width: 80%;
}

.caja2 {
    background-color: #FFFFB3;
    border: #EBEBA5 4px solid;
    text-align: left;
    top: 22%;
    left: 5%;
    width: 35%;
    height: 28%;
    position: absolute;
}

.caja3 {
    background-color: #C6FFFF;
    border: #98C4C4 4px solid;
    text-align: right;
    height: 28%;
    right: 5%;
    top: 22%;
    width: 35%;
    position: absolute;
}

.caja4 {
    background-color: #91FF91;
    border: #64B064 4px solid;
    text-align: center;
    height: 28%;
    left: 31%;
    top: 42%;
    width: 35%;
    position: absolute;
    z-index: 1;
}

.caja5 {
    background-color: #FFE5FF;
    border: #BAA7BA 4px solid;
    text-align: left;
    position: absolute;
    height: 28%;
    left: 5%;
    top: 63%;
    width: 35%;
}

.caja6 {
    background-color: #FFB4B4;
    border: #865F5F 4px solid;
    text-align: right;
    position: absolute;
    height: 28%;
    right: 5%;
    top: 63%;
    width: 35%
}

div:hover {
    z-index: 2;
}